<div class="container">
  <div class="jumbotron">
    <h1 class="text-center">Search For Any Movie</h1>
    <div class="search">
      <input
        type="text"
        class="form-control"
        #movieSearchInput
        placeholder="Search for {{movieType}}"
      />
      <i
        aria-hidden="true"
        class="fa fa-search fa-2x fa-thin search-icon"
        (click)="searchMovies(movieSearchInput.value, movieType)"
      ></i>
      <select
        id="dropdown"
        #dropdown
        class="form-control"
        placeholder="Select Type"
        name="dropdown"
        (change)="movieType = dropdown.value"
      >
     
        <option value="movie">movie</option>
        <option value="series">series</option>
        <option value="episode">episode</option>
      </select>
    
    </div>
  </div>
</div>
<div class="container">
  <div *ngIf="movies$ | async as movies; else empty">
    <div *ngFor="let movie of sortedAndGroupedMap | keyvalue: valueDscOrder">
      <div>{{ movie.key }}</div>
      <div class="cards-container">
        <app-movie-card
          *ngFor="let movie of movie.value"
          [movie]="movie"
        ></app-movie-card>
      </div>
    </div>
  </div>
  <ng-template #empty class="empty">
    <h3 class="text-white">No movies available for this search input</h3>
  </ng-template>
</div>
