<div class="container">
  <div class="jumbotron">
    <h1 class="text-center">Search For Any Movie</h1>
    <div class="search">
      <input
        type="text"
        class="form-control"
        #movieSearchInput
        placeholder=" Search for movie"
      />
      <i aria-hidden="true" class="fa fa-search fa-2x fa-thin search-icon" (click)="searchMovies(movieSearchInput.value)"></i>
      <select id="dropdown" #dropdown class="form-control"  placeholder="Select Type" name="dropdown">
        <option value="movie">movie</option>
        <option value="series">series</option>
        <option value="episode">episode</option>
      </select>
    </div>
   
    
  </div>
</div>
<div class="container">
  <div *ngIf="movies$ | async as movies; else empty" class="container">
    <app-movie-card
      *ngFor="let movie of movies"
      [movie]="movie"
    ></app-movie-card>
  </div>
  <ng-template #empty class="empty">
    <h3 class="text-white">Didnt find any Movies</h3>
  </ng-template>
</div>
